[Unit]
Description=Force font cache renegeration due to issue with siji font package

[Service]
ExecStart=/usr/bin/fc-cache

[Install]
WantedBy=default.target
