; Polybar 

[colors]
background = #aa000000
background-alt = #cc000000
foreground = #ffffcc
foreground-alt = #aaaacc
primary = #55b52a
secondary = #e60053
alert = #bd2c40
underline1 = #335577
underline2 = #773355
underline3 = #557733

[bar/main]
height = 26
radius = 0
fixed-center = true

enable-ipc = true

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 3
line-color = ${colors.primary}

border-size = 0
border-color = #00000000

padding-left = 0
padding-right = 0

module-margin-left = 1
module-margin-right = 1

font-0 = Source Code Pro:style=Regular
font-1 = Font Awesome 5 Brands,Font Awesome 5 Brands Regular:style=Regular
font-2 = Font Awesome 5 Free,Font Awesome 5 Free Regular:style=Regular
font-3 = Font Awesome 5 Free,Font Awesome 5 Free Solid:style=Solid
font-4 = terminus:pixelsize=12
font-5 = unifont:fontformat=truetype:size=8:antialias=false

modules-left = i3
modules-center = xwindow date
modules-right = xkeyboard pulseaudio reservedleft wlan eth filesystem memory battery cpu lock powermenu

tray-position = right
tray-padding = 13

cursor-click = pointer
cursor-scroll = ns-resize

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %name%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %name%
label-unfocused-padding = 2
label-unfocused-underline = ${colors.underline1}

; visible = Active workspace on unfocused monitor
label-visible = %name%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

; Separator in between workspaces
; label-separator = |

[module/xwindow]
type = internal/xwindow
label = "%{F#55b52a}%{F-} %title:0:180:...%"
label-underline = ${colors.underline2}

[module/date]
type = internal/date

interval = 5

date = "%{F#55b52a}%{F-}%e %b"
date-alt = "%{F#55b52a}%{F-} %Y-%m-%d %{F#55b52a}%{F-} %W"

time = "%{F#55b52a}%{F-} %H:%M"
time-alt = "%{F#55b52a}%{F-} %H:%M:%S"

format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${colors.underline3}

label = %date% %time%

[module/xkeyboard]
type = internal/xkeyboard

format-prefix = "%{F#55b52a}%{F-} "
format-prefix-foreground = ${colors.foreground-alt}
format-prefix-underline = ${colors.underline1}

label-layout = %icon%
label-layout-underline = ${colors.underline1}

layout-icon-0 = se;SE
layout-icon-1 = us;US

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.underline1}

label-indicator-off-capslock = ""
label-indicator-on-capslock = "%{B#bd2c40}  Caps Lock  %{B-}"
label-indicator-on-capslock-underline = ${colors.underline1}

label-indicator-on-numlock = ""
label-indicator-off-numlock = "%{B#bd2c40}  Num Lock Off  %{B-}"
label-indicator-off-numlock-underline = ${colors.underline1}


[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume> <bar-volume>
label-volume = "%{F#55b52a}%{F-} %percentage%%"
label-volume-foreground = ${root.foreground}
label-volume-underline = ${colors.underline2}

label-muted = "%{F#55b52a}%{F-}"
label-muted-foreground = #666
label-muted-underline = ${colors.underline2}

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = ◉
;bar-volume-indicator-font = 2
bar-volume-fill = ●
;bar-volume-fill-font = 2
bar-volume-empty = ◌
;bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}
click-right = pavucontrol

[module/reservedleft]
type = custom/script
exec = echo " "
label = "%{F#55b52a}%{F-}"
format-underline = #268bd2
click-left = $HOME/.config/i3/reservedleft set 0
click-right = $HOME/.config/i3/reservedleft set 1220
scroll-up = $HOME/.config/i3/reservedleft plus %counter%
scroll-down = $HOME/.config/i3/reservedleft minus %counter%

{{ if ne (dig "network" "wireless" "<< missing >>" .) "<< missing >>" -}}
[module/wlan]
type = internal/network
interface = {{ .network.wireless }}
interval = 60.0

format-connected = %{F#55b52a}%{F-} <label-connected>
;format-connected = <ramp-signal> <label-connected>
format-connected-underline = ${colors.underline3}
label-connected = %essid% %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = ${colors.foreground-alt}
{{ end }}

{{ if ne (dig "network" "wired" "<< missing >>" .) "<< missing >>" -}}
[module/eth]
type = internal/network
interface = {{ .network.wired }}
interval = 60.0

format-connected-underline = ${colors.underline1}
format-connected-prefix = "%{F#55b52a}%{F-} "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %local_ip%

format-disconnected =
{{ end }}

[module/battery]
type = internal/battery

label-discharging = "%{F#55b52a}%{F-} %percentage%%"
;label-discharging = "%{F#55b52a} {F-} %percentage%%"
;label-discharging = "%{F#55b52a} {F-} %percentage%%"

format-discharging-underline = ${colors.underline1}

label-charging = "%{F#55b52a}%{F-} %percentage%%"
format-charging-underline = ${colors.underline1}

; This is useful in case the battery never reports 100% charge
full-at = 99

; Use the following command to list batteries and adapters:
; $ ls -1 /sys/class/power_supply/
battery = BAT0
adapter = ADP1

; If an inotify event haven't been reported in this many
; seconds, manually poll for new values.
;
; Needed as a fallback for systems that don't report events
; on sysfs/procfs.
;
; Disable polling by setting the interval to 0.
;
; Default: 5
poll-interval = 5

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = "%{F#55b52a}%{F-} %percentage_used%%"
label-mounted-underline = "${colors.underline2}"
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/memory]
type = internal/memory
interval = 2
format-prefix = "%{F#55b52a}%{F-} "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = "${colors.underline3}"
label = %percentage_used%%

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = "%{F#55b52a}%{F-}"
format-prefix-foreground = ${colors.foreground-alt}
format-underline = "${colors.underline1}"
label = %percentage:2%%

[module/lock]
type = custom/script
exec = echo " "
label = "%{F#55b52a}%{F-}"
format-underline = "${colors.underline2}"
click-left = $HOME/bin/lock

[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 1

label-open = 
label-open-foreground = ${colors.secondary}
label-close = 
label-close-foreground = ${colors.secondary}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = Reboot
menu-0-0-exec = reboot
menu-0-1 = Hibernate
menu-0-1-exec = systemctl hibernate
menu-0-2 = Power Off
menu-0-2-exec = poweroff

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

[global/wm]
margin-top = 5
margin-bottom = 5

; vim:ft=dosini
